[Unit]
Description=Notify about new Arch Linux and AUR updates
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/systemctl --user --quiet is-active graphical-session.target
ExecStart=%h/.local/bin/update-notifier
TimeoutStartSec=infinity
Nice=10
RuntimeDirectory=update-notifier
RuntimeDirectoryMode=0700
